.grad_0 {				
background: #ff9a9e;				
background: -moz-linear-gradient(-45deg, #ff9a9e 0%, #fad0c4 100%);				
background: -webkit-linear-gradient(-45deg, #ff9a9e 0%,#fad0c4 100%);				
background: linear-gradient(135deg, #ff9a9e 0%,#fad0c4 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9a9e', endColorstr='#fad0c4',GradientType=1 );			
}
.grad_1 {				
background: #ffecd2;				
background: -moz-linear-gradient(-45deg, #ffecd2 0%, #fcb69f 100%);				
background: -webkit-linear-gradient(-45deg, #ffecd2 0%,#fcb69f 100%);				
background: linear-gradient(135deg, #ffecd2 0%,#fcb69f 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffecd2', endColorstr='#fcb69f',GradientType=1 );			
}
.grad_2 {				
background: #ff9a9e;				
background: -moz-linear-gradient(-45deg, #ff9a9e 0%, #fecfef 100%);				
background: -webkit-linear-gradient(-45deg, #ff9a9e 0%,#fecfef 100%);				
background: linear-gradient(135deg, #ff9a9e 0%,#fecfef 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9a9e', endColorstr='#fecfef',GradientType=1 );			
}
.grad_3 {				
background: #a1c4fd;				
background: -moz-linear-gradient(-45deg, #a1c4fd 0%, #c2e9fb 100%);				
background: -webkit-linear-gradient(-45deg, #a1c4fd 0%,#c2e9fb 100%);				
background: linear-gradient(135deg, #a1c4fd 0%,#c2e9fb 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1c4fd', endColorstr='#c2e9fb',GradientType=1 );			
}
.grad_4 {				
background: #cfd9df;				
background: -moz-linear-gradient(-45deg, #cfd9df 0%, #e2ebf0 100%);				
background: -webkit-linear-gradient(-45deg, #cfd9df 0%,#e2ebf0 100%);				
background: linear-gradient(135deg, #cfd9df 0%,#e2ebf0 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd9df', endColorstr='#e2ebf0',GradientType=1 );			
}
.grad_5 {				
background: #fdfbfb;				
background: -moz-linear-gradient(-45deg, #fdfbfb 0%, #ebedee 100%);				
background: -webkit-linear-gradient(-45deg, #fdfbfb 0%,#ebedee 100%);				
background: linear-gradient(135deg, #fdfbfb 0%,#ebedee 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfbfb', endColorstr='#ebedee',GradientType=1 );			
}
.grad_6 {				
background: #f5f7fa;				
background: -moz-linear-gradient(-45deg, #f5f7fa 0%, #c3cfe2 100%);				
background: -webkit-linear-gradient(-45deg, #f5f7fa 0%,#c3cfe2 100%);				
background: linear-gradient(135deg, #f5f7fa 0%,#c3cfe2 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7fa', endColorstr='#c3cfe2',GradientType=1 );			
}
.grad_7 {				
background: #667eea;				
background: -moz-linear-gradient(-45deg, #667eea 0%, #764ba2 100%);				
background: -webkit-linear-gradient(-45deg, #667eea 0%,#764ba2 100%);				
background: linear-gradient(135deg, #667eea 0%,#764ba2 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#667eea', endColorstr='#764ba2',GradientType=1 );			
}
.grad_8 {				
background: #fdfcfb;				
background: -moz-linear-gradient(-45deg, #fdfcfb 0%, #e2d1c3 100%);				
background: -webkit-linear-gradient(-45deg, #fdfcfb 0%,#e2d1c3 100%);				
background: linear-gradient(135deg, #fdfcfb 0%,#e2d1c3 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfcfb', endColorstr='#e2d1c3',GradientType=1 );			
}
.grad_9 {				
background: #89f7fe;				
background: -moz-linear-gradient(-45deg, #89f7fe 0%, #66a6ff 100%);				
background: -webkit-linear-gradient(-45deg, #89f7fe 0%,#66a6ff 100%);				
background: linear-gradient(135deg, #89f7fe 0%,#66a6ff 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89f7fe', endColorstr='#66a6ff',GradientType=1 );			
}
.grad_10 {				
background: #48c6ef;				
background: -moz-linear-gradient(-45deg, #48c6ef 0%, #6f86d6 100%);				
background: -webkit-linear-gradient(-45deg, #48c6ef 0%,#6f86d6 100%);				
background: linear-gradient(135deg, #48c6ef 0%,#6f86d6 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48c6ef', endColorstr='#6f86d6',GradientType=1 );			
}
.grad_11 {				
background: #feada6;				
background: -moz-linear-gradient(-45deg, #feada6 0%, #f5efef 100%);				
background: -webkit-linear-gradient(-45deg, #feada6 0%,#f5efef 100%);				
background: linear-gradient(135deg, #feada6 0%,#f5efef 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feada6', endColorstr='#f5efef',GradientType=1 );			
}
.grad_12 {				
background: #a3bded;				
background: -moz-linear-gradient(-45deg, #a3bded 0%, #6991c7 100%);				
background: -webkit-linear-gradient(-45deg, #a3bded 0%,#6991c7 100%);				
background: linear-gradient(135deg, #a3bded 0%,#6991c7 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3bded', endColorstr='#6991c7',GradientType=1 );			
}
.grad_13 {				
background: #13547a;				
background: -moz-linear-gradient(-45deg, #13547a 0%, #80d0c7 100%);				
background: -webkit-linear-gradient(-45deg, #13547a 0%,#80d0c7 100%);				
background: linear-gradient(135deg, #13547a 0%,#80d0c7 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13547a', endColorstr='#80d0c7',GradientType=1 );			
}
.grad_14 {				
background: #93a5cf;				
background: -moz-linear-gradient(-45deg, #93a5cf 0%, #e4efe9 100%);				
background: -webkit-linear-gradient(-45deg, #93a5cf 0%,#e4efe9 100%);				
background: linear-gradient(135deg, #93a5cf 0%,#e4efe9 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93a5cf', endColorstr='#e4efe9',GradientType=1 );			
}
.grad_15 {				
background: #434343;				
background: -moz-linear-gradient(-45deg, #434343 0%, #000000 100%);				
background: -webkit-linear-gradient(-45deg, #434343 0%,#000000 100%);				
background: linear-gradient(135deg, #434343 0%,#000000 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#000000',GradientType=1 );			
}
.grad_16 {				
background: #93a5cf;				
background: -moz-linear-gradient(-45deg, #93a5cf 0%, #e4efe9 100%);				
background: -webkit-linear-gradient(-45deg, #93a5cf 0%,#e4efe9 100%);				
background: linear-gradient(135deg, #93a5cf 0%,#e4efe9 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93a5cf', endColorstr='#e4efe9',GradientType=1 );			
}
.grad_17 {				
background: #ff758c;				
background: -moz-linear-gradient(-45deg, #ff758c 0%, #ff7eb3 100%);				
background: -webkit-linear-gradient(-45deg, #ff758c 0%,#ff7eb3 100%);				
background: linear-gradient(135deg, #ff758c 0%,#ff7eb3 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff758c', endColorstr='#ff7eb3',GradientType=1 );			
}
.grad_18 {				
background: #868f96;				
background: -moz-linear-gradient(-45deg, #868f96 0%, #596164 100%);				
background: -webkit-linear-gradient(-45deg, #868f96 0%,#596164 100%);				
background: linear-gradient(135deg, #868f96 0%,#596164 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868f96', endColorstr='#596164',GradientType=1 );			
}
.grad_19 {				
background: #c79081;				
background: -moz-linear-gradient(-45deg, #c79081 0%, #dfa579 100%);				
background: -webkit-linear-gradient(-45deg, #c79081 0%,#dfa579 100%);				
background: linear-gradient(135deg, #c79081 0%,#dfa579 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c79081', endColorstr='#dfa579',GradientType=1 );			
}
.grad_20 {				
background: #09203f;				
background: -moz-linear-gradient(-45deg, #09203f 0%, #537895 100%);				
background: -webkit-linear-gradient(-45deg, #09203f 0%,#537895 100%);				
background: linear-gradient(135deg, #09203f 0%,#537895 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09203f', endColorstr='#537895',GradientType=1 );			
}
.grad_21 {				
background: #96deda;				
background: -moz-linear-gradient(-45deg, #96deda 0%, #50c9c3 100%);				
background: -webkit-linear-gradient(-45deg, #96deda 0%,#50c9c3 100%);				
background: linear-gradient(135deg, #96deda 0%,#50c9c3 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96deda', endColorstr='#50c9c3',GradientType=1 );			
}
.grad_22 {				
background: #29323c;				
background: -moz-linear-gradient(-45deg, #29323c 0%, #485563 100%);				
background: -webkit-linear-gradient(-45deg, #29323c 0%,#485563 100%);				
background: linear-gradient(135deg, #29323c 0%,#485563 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29323c', endColorstr='#485563',GradientType=1 );			
}
.grad_23 {				
background: #ee9ca7;				
background: -moz-linear-gradient(-45deg, #ee9ca7 0%, #ffdde1 100%);				
background: -webkit-linear-gradient(-45deg, #ee9ca7 0%,#ffdde1 100%);				
background: linear-gradient(135deg, #ee9ca7 0%,#ffdde1 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee9ca7', endColorstr='#ffdde1',GradientType=1 );			
}
.grad_24 {				
background: #1e3c72;				
background: -moz-linear-gradient(-45deg, #1e3c72 0%, #2a5298 100%);				
background: -webkit-linear-gradient(-45deg, #1e3c72 0%,#2a5298 100%);				
background: linear-gradient(135deg, #1e3c72 0%,#2a5298 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3c72', endColorstr='#2a5298',GradientType=1 );			
}
.grad_25 {				
background: #ffc3a0;				
background: -moz-linear-gradient(-45deg, #ffc3a0 0%, #ffafbd 100%);				
background: -webkit-linear-gradient(-45deg, #ffc3a0 0%,#ffafbd 100%);				
background: linear-gradient(135deg, #ffc3a0 0%,#ffafbd 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc3a0', endColorstr='#ffafbd',GradientType=1 );			
}
.grad_26 {				
background: #B7F8DB;				
background: -moz-linear-gradient(-45deg, #B7F8DB 0%, #50A7C2 100%);				
background: -webkit-linear-gradient(-45deg, #B7F8DB 0%,#50A7C2 100%);				
background: linear-gradient(135deg, #B7F8DB 0%,#50A7C2 100%);				
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B7F8DB', endColorstr='#50A7C2',GradientType=1 );			
}

/** SOLID COLORS **/

.RED {
background: #F44336;
}

.PINK {
background: #E91E63;
}

.PURPLE {
background: #9C27B0;
}

.DEEP_PURPLE {
background: #673AB7;
}

.INDIGO {
background: #3F51B5;
}

.BLUE {
background: #2196F3;
}

.LIGHT_BLUE {
background: #03A9F4;
}

.CYAN {
background: #00BCD4;
}

.TEAL {
background: #009688;
}

.GREEN {
background: #4CAF50;
}

.LIGHT_GREEN {
background: #8BC34A;
}

.LIME {
background: #CDDC39;
}

.YELLOW {
background: #FFEB3B;
}

.AMBER {
background: #FFC107;
}

.ORANGE {
background: #FF9800;
}

.DEEP_ORANGE {
background: #FF5722;
}

.BROWN {
background: #795548;
}

.GREY {
background: #9E9E9E;
}

.BLUE_GREY {
background: #607D8B;
}