body {
    
}

.upperSection {
    margin-bottom: 15px;
    height: 50vh;
    background: #212136;
    background: -moz-linear-gradient(-45deg, #212136 0%, #63639c 100%);
    background: -webkit-linear-gradient(-45deg, #212136 0%,#63639c 100%);
    background: linear-gradient(135deg, #212136 0%,#63639c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212136', endColorstr='#63639c',GradientType=1 );
}

.questionCircles {
    
}

.questionCircles img {
    width: 25px;
    margin: 4px;
}

#scoreBar {
    position: relative;
    bottom: 0;
}

#scoreCircle {
    position: relative;
}

#scoreText {
    color: white;
    font-size: 32px;
}

.header {
}

.questionContainer {
    margin: 50px 0px;
}

.questionBody {
    font-size: 1.2em;
}

.question {
    margin-bottom: 30px;
    color: white;
    font-size: 4em;
}

.choices {
    padding: 0 20px;
}

.choices .col-6 {
    padding: 15px 0;
}

.choice {
    width: 80%;
/*    padding: 10px 50px;*/
/*    border: 1px solid #333;*/
    border: none;
    color: white;
    border-radius: 5px;
    background: #429CC6;
}

.choice:focus, #restartBtn:focus  {
    outline: none;
}

.scoreSection {
    display: none;
    color: #4b4b4b;
    margin-bottom: 25px;
}

#yourScore {
    color: #429CC6;
    font-size: 1.5em;
}

#restartBtn {
    color: white;
    font-weight: bold;
    background-color: #429CC6;
    border-radius: 100px;
    border: none;
    padding: 5vw;
    display: none;
}

/* Button style */
button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: yellow;
  box-shadow: 0 0 4px #999;
  outline: none;
}